.home-page{
    margin-top: 200px;
    z-index: 1;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.desk-scene-container{
    position: relative;
    background-color: rgb(223, 223, 223);
    height: 600px;
    width: 100%;
}


.setup-container{
    position: relative;
    min-height: 250px;
    max-width: fit-content;
    left: 35%;
    top: 25%;
}






