.showcaseDiv{
    position: relative;
    color: white;
    margin-top: max(100px);
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.videoDiv{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: black;
    box-shadow: 1px 1px 10px 10px rgba(62, 62, 62, 0.969);
}

.arrowButton{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    cursor: pointer;
}

#leftArrow{
    left: 5%;
}

#rightArrow{
    left: 93%;
}

